<ion-content [fullscreen]="true" class="ion-padding" [scrollY]="false">
  <div class="container">
    <h3 class="list-title">{{ 'page.title.shopping_cart' | translate }}</h3>

    <ng-container *ngIf="cartItems$ | async as items">
      <app-item-listing
        *ngIf="items.length"
        [items$]="cartItems$"
        [showMoreInfo]="true"
      ></app-item-listing>
      <div class="message-container" *ngIf="!items.length">
        <ion-label>
          {{ 'page.message.cart_items_missing' | translate }}
        </ion-label>
      </div>
    </ng-container>
  </div>
</ion-content>
