.block {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-modal {
  --height: auto;
}

.image-item {
  width: 150px;
  height: auto;
  margin: 0 auto;
}

.container {
  padding-top: 50px;
}
