<ion-content [fullscreen]="true" class="ion-padding" [scrollY]="false">
  <div class="container">
    <h3 class="list-title" *ngIf="paramMap$ | async as route">
      {{('page.title.' + route.get('section')) | translate}}
    </h3>

    <ng-container *ngIf="items$ | async as items">
      <app-item-listing
        *ngIf="items.length"
        [items$]="items$"
      ></app-item-listing>
      <div class="message-container" *ngIf="!items.length">
        <ion-label>
          {{ 'page.message.section_items_missing' | translate }}
        </ion-label>
      </div>
    </ng-container>
  </div>
</ion-content>
