<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon color="danger" name="home-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="shopping-cart">
      <ion-badge color="danger" *ngIf="cartItems">{{cartItems}}</ion-badge>
      <ion-icon color="danger" name="cart-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="order-history">
      <ion-icon color="danger" name="list-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon color="danger" name="person-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
