<ion-content [fullscreen]="true" class="ion-padding" [scrollY]="false">
  <div class="container">
    <div class="search-container">
      <ion-item>
        <ion-input
          placeholder="Pizza, dessert, drink ecc"
          (ionInput)="search($event)"
        ></ion-input>
        <ion-icon name="search-outline"></ion-icon>
      </ion-item>
    </div>

    <div class="grid-container" *ngIf="(searching$ | async) === false">
      <ion-grid>
        <ion-row>
          <ion-col>
            <div
              class="item-grid normal-pizza-item"
              routerLink="/tabs/item-list/classic_pizza"
            >
              <label class="item-label-grid">Classic</label>
            </div>
          </ion-col>
          <ion-col>
            <div
              class="item-grid special-pizza-item"
              routerLink="/tabs/item-list/special_pizza"
            >
              <div class="item-badge">Promotions!</div>
              <label class="item-label-grid">Special</label>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div
              class="item-grid dessert-item"
              routerLink="/tabs/item-list/dessert"
            >
              <label class="item-label-grid">Dessert</label>
            </div>
          </ion-col>
          <ion-col>
            <div
              class="item-grid drink-item"
              routerLink="/tabs/item-list/drink"
            >
              <label class="item-label-grid">Drink</label>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <div
              class="item-grid pizza-week-item"
              routerLink="/tabs/item-list/week"
            >
              <label class="item-label-grid">Pizzas of the week</label>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <ng-container *ngIf="(searching$ | async) === true">
      <ng-container *ngIf="filteredItems$ | async as filteredItems">
        <app-item-listing *ngIf="filteredItems.length" [items$]="filteredItems$"></app-item-listing>
        <div class="message-container" *ngIf="!filteredItems.length">
          <ion-label>
            {{ 'page.message.no_items_found' | translate }}
          </ion-label>
        </div>
      </ng-container>
    </ng-container>
  </div>
</ion-content>
