<ion-content [fullscreen]="true">
  <div class="login-container">
    <form [formGroup]="loginForm" (ngSubmit)="submit()" novalidate>
      <ion-item>
        <ion-input
          [placeholder]="'login.button.username' | translate"
          formControlName="username"
          type="text"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          [placeholder]="'login.button.password' | translate"
          formControlName="password"
          type="password"
        ></ion-input>
      </ion-item>
      <ion-button expand="block" color="danger" type="submit"
        >{{ 'login.button.login' | translate }}</ion-button
      >
    </form>
  </div>
</ion-content>
